*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
h2 {
  max-width: calc(100% - 15%);
  animation: animate-text 3s linear  infinite alternate backwards;
}

h2 {
  margin-top: 25%;
}

.btn {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 300ms ease-out;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@keyframes animate-text {
  from {
    color: white;
  }
  to {
    color: black;
  }
}
